<div style='background-color:#2593e5'><img src='https://webmedia.ba/wp-content/uploads/2018/09/logotip-webmedia-1.png'></div><br>Ime: $ime_kontakt<br>
        Email: $mail_kontakt<br>Da li imate domenu: $ima_domenu <br> 
        Domena: $naziv_domene$domena<br>
        Custom paket: Disk prostor: $disk<br> Promet: $promet<br>
        Cijena: $cijena KM;